@font-face {
	font-family: 'nexa-light';
	src: url(../src/Nexa-Light.otf) format('truetype');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face
{
    font-family: 'nexa-bold';
    src:url(../src/Nexa-Bold.otf)format("opentype");
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
.App{
    
    background-color: rgb(242, 242, 242);
    max-height: 17vh;
}


.App-logo{
    margin-top: 25px;
    height: 100px;
    margin-left: 36px;
}

.Text{
   display: flex;
   justify-content: start;
}

.Text h1{
    margin-top: -74px;
    margin-left: 161px;
    font-family: 'nexa-bold';
    color: #eb0a0a;
 }

input[type="search"] {
    margin-top: -80px;
    margin-bottom: 44px;
    margin-left: 190px;
    padding-left: 1rem;
    border: 1px solid #00a4bd;
    height: 45px;
}

.Blog{
    width: 20px;
    height: 42px;
    border: 0;
    background-image: url(//www.hubspot.com/hubfs/white-search-icon.svg);
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #00a4bd;
    padding: 0 1rem;
    position: relative;
    top: -78px;
    left: -33px;
}

input:focus {
	outline: none;
  	border-top: 2px solid #00a4bd;
}

nav ul{
    display: flex;
    justify-content: center;
    list-style: none;
    margin-left: 102px;
    margin-top: -64px;
}

nav ul li{
      margin: -4px 14px;
}


nav ul li a{
    text-decoration: none;
    font-size: 21px;
    color: #443ADF;
    font-family: 'Open Sans', sans-serif;
}

footer{
    background-color: rgb(242, 242, 242);
    width: 100%;
    display: flex;
    justify-content:left;
    text-align: center;
    color: #443ADF;
    min-height:16vh;
    position: relative;
    bottom: 0;
}

footer h3{
    margin-top: 57px;
    margin-left: 10px;
}

.material-icons-outlined {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 54px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
    position: relative;
    top: -85px;
    left: 280px;
    background-color: rgb(242, 242, 242);
    color: #8c8c8c;
  }

.Images{
position: relative;
top: -25px;
}



.contact_div .row{
justify-content: center;
margin-right: -10px;
margin-top: 40px;
padding: 0 377px;

}
    
button.btn.btn-outline-primary {
    margin-top: 10px;
}



 

 



